* {
    padding: 0;
    margin: 0;
}

//// Dashboard

.dashboard-container {
    background-color: #171717;
    color: #ffffff;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//// Navbar
.navbar-container {

    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;

    .navbar-list{
        display: flex;
        justify-content: right;
        list-style: none;
        flex-direction: row;
    }
    .navbar-item {
        margin-right: 15px;

        a {
            text-decoration: none;
            color: #ffffff;
            padding: 10px 5px;
        }
    }
}

//// Hero
.hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-bottom: 25px;
    
    .name-container {
        font-size: 50px;
        font-weight: 700;
        margin: 10px 0;
        
        .block-caps {
            display: inline-block;
            background-color: linear-gradient(red, black);
            
            &::first-letter {
                initial-letter: 2 1;
            }
        }
    }

    .job-title {
        font-size: 38px;
        font-weight: 400;
        margin: 10px 0;
    }

    .summary {
        width: 50vw;
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;
    }
}

//// Social Button 
.social-button {
    height: 45px;
    width: 45px;
    border-radius: 23px;
    background: linear-gradient(180deg, #AD312B, #c6393261);
}